<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
img{
max-width: 100%;
}

.caja{
border: 1px solid #999;
color: #444;
padding: 1em;
margin: 0.5%;
box-sizing: border-box;
width: 32.33%;
float:left;
}

</style>

</head>

<body>
<p>El problema con el float es cuando un elemento no tiene la misma altura que los demas.
Haz puebas agregando mas palabas a cualquier parrafo.</p>


    <div class="caja">
        <img src="https://pbs.twimg.com/profile_images/1068316882497953793/-9kX55rO_400x400.jpg" alt="pajaro">
        <p>HTML5. Eso que está impregnando últimamente multitud de páginas de
            Internet, ya estén referidas a navegadores, a aplicaciones, a la
            Web móvil o incluso a los vídeos. Pongamos sobre la mesa de forma
            breve las claves de este lenguaje para entender qué es lo que puede
            ofrecer y cómo se puede aprovechar.
        </p>
    </div>

    <div class="caja">
        <img src="https://pbs.twimg.com/profile_images/1068316882497953793/-9kX55rO_400x400.jpg" alt="pajaro">
        <p>HTML5. Eso que está impregnando últimamente multitud de páginas de
            Internet, ya estén referidas a navegadores, a aplicaciones, a la
            Web móvil o incluso a los vídeos. Pongamos sobre la mesa de forma
            breve las claves de este lenguaje para entender qué es lo que puede
            ofrecer y cómo se puede aprovechar.
        </p>
    </div>

    <div class="caja">
        <img src="https://pbs.twimg.com/profile_images/1068316882497953793/-9kX55rO_400x400.jpg" alt="pajaro">
        <p>HTML5. Eso que está impregnando últimamente multitud de páginas de
            Internet, ya estén referidas a navegadores, a aplicaciones, a la
            Web móvil o incluso a los vídeos. Pongamos sobre la mesa de forma
            breve las claves de este lenguaje para entender qué es lo que puede
            ofrecer y cómo se puede aprovechar.
        </p>
    </div>

    <div class="caja">
        <img src="https://pbs.twimg.com/profile_images/1068316882497953793/-9kX55rO_400x400.jpg" alt="pajaro">
        <p>HTML5. Eso que está impregnando últimamente multitud de páginas de
            Internet, ya estén referidas a navegadores, a aplicaciones, a la
            Web móvil o incluso a los vídeos. Pongamos sobre la mesa de forma
            breve las claves de este lenguaje para entender qué es lo que puede
            ofrecer y cómo se puede aprovechar.
        </p>
    </div>

    <div class="caja">
        <img src="https://pbs.twimg.com/profile_images/1068316882497953793/-9kX55rO_400x400.jpg" alt="pajaro">
        <p>HTML5. Eso que está impregnando últimamente multitud de páginas de
            Internet, ya estén referidas a navegadores, a aplicaciones, a la
            Web móvil o incluso a los vídeos. Pongamos sobre la mesa de forma
            breve las claves de este lenguaje para entender qué es lo que puede
            ofrecer y cómo se puede aprovechar.
        </p>
    </div>

    <div class="caja">
        <img src="https://pbs.twimg.com/profile_images/1068316882497953793/-9kX55rO_400x400.jpg" alt="pajaro">
        <p>HTML5. Eso que está impregnando últimamente multitud de páginas de
            Internet, ya estén referidas a navegadores, a aplicaciones, a la
            Web móvil o incluso a los vídeos. Pongamos sobre la mesa de forma
            breve las claves de este lenguaje para entender qué es lo que puede
            ofrecer y cómo se puede aprovechar.
        </p>
    </div>
</body>

</html>